$purple-700-color: #7335d2; 
$purple-600-color: #5747ea; 
$purple-500-color: #7078c9; 
$blue-300-color: #55c2e6;
$orange-300-color: #ff8b64;
$pink-400-color: #ff5e7d;
$green-400-color: #4bcf82;
$grey-200-200-color: #d8d8d8;
$navy-950-color: #0e1323;
$navy-900-color: #1c204b;
$navy-800-color: #33397a;
$navy-200-color: #bbc0ff;
$white-color: #ffffff;
$black-color: #000000;

$text-1: 5.6rem;
$text-2: 4rem;
$text-3: 3.2rem;
$text-4: 2.4rem;
$text-5: 1.8rem;
$text-6: 1.5rem;
$text-regular: 1.6rem;

$text-lh-1: 1.5;
$text-lh-2: 1.1;

$space-1300: 10.4rem;
$space-900: 7.2rem;
$space-800: 6.4rem;
$space-600: 4.8rem;
$space-500: 4rem;
$space-400: 3.2rem;
$space-300: 2.4rem;
$space-200: 1.6rem;
$space-100: .8rem;
$space-50: .4rem;



