@use './reset';
@use './variables' as *;
@use './mixin' as *;
@use './font-face' as *;

@include fontFace('rubik', '../fonts/Rubik-VariableFont_wght.ttf', 300 900);

.info-grid {
  display: none;
}

html {
    font-size: 62.5%;
}

body {
  font-family: rubik;
  background-color: $navy-950-color;
  display: grid;
  justify-items: center;
  padding: 8.1rem 2.4rem;
  align-items: center;
}

.layout__mains {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2.4rem;
}

.layout__user {
  display: grid;
  gap: 2.4rem;
  background-color: $navy-900-color;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 4px 3px rgba(14, 19, 15, .9);

}

.user__info {
  background-color: $purple-600-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.4rem;
  padding: 3.2rem;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 5px 3px rgba(14, 19, 35, .5);
}

.images__profile {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: .3rem solid $navy-200-color;
}

.user__timeframes {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2.4rem; 
}

.user__title {
  font-size: 2.4rem;
  font-weight: 300;
  color: $white-color;
}

.user__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: $navy-200-color;
}

.timeframes__item {
  border: none;
  background-color: $navy-900-color;
  font-size: 1.8rem;
  font-weight: 400;
  color: $purple-500-color;
}

.card__grids {
  position: relative; 
  width: min(32.7rem, 100%);  
  height: 16rem;
  border-radius: 1.5rem;
  border-inline: 2px solid $navy-950-color;
  overflow-Y: hidden;
  box-shadow: 1px 1px 4px 3px rgba(14, 19, 15, .9);
  z-index: 0; 
}

.cards__imagen {
  width: 100%;
  height: 100%;
}

.images__icons {
  width: min(7.8rem, 100%);
  position: absolute;
  top: -5%;
  right: 5%;
  /* z-index: -1; */
}

@keyframes reportGrid {
  from {
    transform: translateY(110%);
  }
  to {
    transform: translateY(31%);
  }
}

.grids__report {
  /* width: 100%;  */
  display: grid;
  grid-template-columns: auto;
  gap: .5rem; 
  width: min(32.7rem, 100%);  
  height: 100%;
  height: 12.2rem;
  background-color: $navy-900-color;
  padding: 2.4rem;
  /* transform: translateY(31%); */ 
  animation: reportGrid .9s ease forwards;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 3px 2px rgba(14, 19, 35, .7);
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
  /* z-index: 9; */
}

.report__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__title {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8;
  color: $white-color;
}

.grids__icon {
  border: none;
  background-color: $navy-900-color;
}

.report__numbers {
  display: flex;
  justify-content: space-between; 
  align-content: end;
}

.numbers__current {
  font-size: 3.2rem;
  font-weight: 300;
  color: $white-color;
  align-items: flex-end;
  line-height: 1;
}

.numbers__previous {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1.5rem;
  color: $navy-200-color;
}

.card__grids--work {
  background: linear-gradient(to bottom, $orange-300-color 30%,transparent 88%);
}

.card__grids--play {
  background: linear-gradient(to bottom, $blue-300-color 30%,transparent 88%);
}

.card__grids--study {
  background: linear-gradient(to bottom, $pink-400-color 30%,transparent 88%);
}

.card__grids--exercise {
  background: linear-gradient(to bottom, $green-400-color 30%,transparent 88%);
}

.card__grids--social {
  background: linear-gradient(to bottom, $purple-700-color 30%,transparent 88%);
}

.card__grids--selfcare {
  background: linear-gradient(to bottom, $yellow-300-color 30%,transparent 88%);
}

@media (min-width:650px) {
  .layout__mains {
    width: 61.2rem;
    height: 66.7rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:  18.8rem 18.8rem 18.8rem;
    grid-template-rows:  21.3rem 21.3rem 21.3rem;
    grid-template-areas:  'profile  profile profile'
                          'work     play    study'
                          'exercise social  selfcare';
    gap: 2.4rem;
  }  

  .layout__user {
    grid-area: profile;
    width: 100%;
    height: 100%;
  }

  .user__timeframes {
    justify-content: center;
    gap: .8rem;
  }

  .timeframes__item {
    width: 10.9rem;
  }

  .card__grids {
    width: min(18.8rem, 100%);
    height: 21.3rem;

  }
  .card__grids--work {
    grid-area: work;
  }

  .card__grids--play {
    grid-area: play;
  }

  .card__grids--study {
    grid-area: study;
  }

  .card__grids--exercise {
    grid-area: exercise;
  }

  .card__grids--exercise .images__icons {
    top: 0;
  }

  .card__grids--social {
    grid-area: social;
  }

  .card__grids--selfcare {
    grid-area: selfcare;
  }

  .active {
    color: $white-color;
  }

  @keyframes reportGridTablet {
    from {
      transform: translateY(110%);
    }
    to {
      transform: translateY(20%);
    }
  }

  .grids__report {
    width: 100%;
    height: 18rem;
    animation: reportGridTablet .9s ease forwards;
  }

  .images__icons {
    width: min(5.8rem, 90%);
    top: -3%;
    right: 7%;
  }
  
  .images__icons:nth-child(4) {
     top: 0;
  }

  .report__numbers {
    flex-direction: column;
  }

  .numbers__current {
    font-size: 5.6rem;
  }

}     

@media (min-width:1200px) {
  .layout__mains {
    width: 111.6rem;
    height: 52rem;
    align-items: center;
    grid-template-columns:  repeat(4, 25.5rem);
    grid-template-rows:  repeat(2, 24.4rem);
    grid-template-areas:  'profile  work    play  study'
                          'profile  exercise social selfcare';
    gap: 3.2rem;
  }  

  .layout__user {
    width: 25.5rem;
  }

  .user__info {
    width: 25.5rem;
    height: 35.4rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
  }

  .user__timeframes {
    width: 100%;
    flex-direction: column; 
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 3.2rem 3.2rem 3.2rem; 
  }

  .timeframes__item {
    text-align: left;
  }
  .card__grids {
    width: 25.5rem;
    height: 24.4rem;
  }

  .grids__report {
    height: 20.5rem;
  }

  .user__title {
    font-size: 4rem;
    line-height: 1.2;
  }
}












